body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
width: 1200px;
margin: 0 auto;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}